h1{
    color: aquamarine;
    background-color: bisque;
}

ul{
    color: aqua;
    background-color: black;
}

.one{
    color: antiquewhite;
    background-color: aqua;
}

.two{
    color: blue;
    background-color: brown;
}

.three{
    color: cadetblue;
    background-color: chartreuse;
}

body{
   background-color: darkgreen;
}

#one{
    color: yellowgreen;
    background-color: whitesmoke;
}

#two{
    color: beige;
    background-color: greenyellow;
}