h1,h4,p,#one{
    background-color: aqua;
    color: bisque;
}

/*this is known as selecting by grouping */


h4[draggable="true"]{
    background-color: aquamarine;
    color: bisque;
}

/* this method is known as selecting by attributes. */


section p{
    background-color: aquamarine;
    color: brown;
}

/*this method is known as selecting by descendent. */

section > p{
    color: brown;
    background-color: blue;
}

/*this method is known as selecting by child */

/*here selecting by descendent means it will add changes on every element belong to descendent even if it is there inside the desecendent tag , 
but where as in the selecting by child method it will search upto child level only it won't go to the grandchild level whereas in descending method
it will go utpo grandchild and more inner levels to make changes in element. */