
/* second method to create responsive page */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    background-color: black;
    padding: 10rem;
    display: grid;
    gap: 6rem;
    grid-template-columns: minmax(300px,500px) minmax(300px,500px) minmax(300px,500px) minmax(300px,500px);  
    /* here "grid-template-columns: minmax(100px 200px);" means the column size will be goes upto min width 100px and max width 200 px for 
       one column . if we want to make more columns like this then we have write "grid-template-columns: minmax(100px 200px);" more times as we want. 
       */
    grid-template-columns: repeat(4,minmax(300px,500px));  /* here "grid-template-columns: repeat(4,minmax(300px,500px));" is shortcut method to write the " grid-template-columns: minmax(300px,500px) minmax(300px,500px) minmax(300px,500px) minmax(300px,500px);  " */
}

.box{
    background-color: yellowgreen;
    font-size: 8rem;
}