.container{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 300px;
    width: 300px;
    background-color: orange;
    margin: 10px;
    transition-property: background-color border-radius;
    transition-duration: 3s;
    transition-timing-function: linear;
}

.box:hover{
    background-color: royalblue;
    border-radius: 50%;
}