.container{
    height: 920px;
    width: 920px;
    background-color: aqua;
}

.box{
    height: 300px;
    width: 300px;
    background-color: orange;
    margin: 10px;      /* here when we give the margin to the child element , the margin will be assigned in all direction except from the top
                          and bottom. This is known as the margin collapsing property in css . to avoid this we can use the margin-top and 
                          margin-bottom property or padding-top and padding-bottom properties . But the next child element will get the margin 
                          from all directions till bottom element. And last child element will get the margin from all directions execpt bottom. */
}


.box{
    height: 300px;
    width: 300px;
    background-color: orange;
    margin: 10px;  
}
.box{
    height: 300px;
    width: 300px;
    background-color: orange;
    margin: 10px;  
}
