*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #1b057d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 50vw;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(8,1fr);                /* here we can use the shortcut instead of writing the 100px this
                                                           many times by grid-template-clolumns: repeat(8 , 100px) */
    grid-template-rows: repeat(8,1fr);
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}