/* here we used element tag*/

h1{
    background-color: aqua !important;  /* here we write the "important" after the aqua , so it will have the highest priority. */ 
}

/* here we used id */
#two{
    background-color: bisque;
}

/* here we used class */
.one{
    background-color: aquamarine;
}

/* here we used attribute */
h1[draggable="true"]{
    background-color: blueviolet;
}

/* here we used descendent */
body h1{
    background-color: chartreuse;
}

/* here we used child */
body>h1{
    background-color: coral;
}

/* here we used group of elements */

h1,p{
    background-color: darkseagreen;
}