/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body */
body {
    background-color: #f0f8ff;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
}

/* Weather container */
.weather-container {
    border-radius: 15px;
    width:75vw;
    height: 80vh;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
}

/* Weather header */
h1 {
    font-size: 12.5em;
    font-weight: bold;
    text-transform: uppercase;
}

/* Weather location  */
.location {
    font-size: 14.2em;
    margin-bottom: 20px;
} 

/* Weather icon */
.weather-icon {
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 14em;
}

/* Temperature */
.temperature {
    font-size: 10em;
    font-weight: 500;
    margin-bottom: 100px;
    margin-top: 100px;
}

/* Weather description */
.description {
    font-size: 8.2em;
    margin-bottom: 20px;
    text-transform: capitalize;
}

/* Forecast data */
.forecast {
    font-size: 6em;
    color: white;
    margin-bottom: 100px;
    margin-top: 100px;
}


.weather-container button:hover {
    background-color: #5ac8fa;
}

/* Responsive design */
@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }

    .weather-container {
        padding: 20px;
        width: 100%;
    }

    .weather-container h1 {
        font-size: 2em;
    }

    .weather-container .temperature {
        font-size: 3em;
    }

    .weather-container .description {
        font-size: 1em;
    }
}

#location{
    font-size: 4rem;
    position: relative;
    left: 23vw;
    bottom: 7vh;
    height: 5vh;
    width: 13.5vw;
    border-radius: 25px;
}

#get{
    background-color: chartreuse;
    font-size: 4rem;
    position: relative;
    left: 24vw;
    bottom: 7vh;
    height: 5vh;
    width: 8.5vw;
    border-radius: 25px;
}

#Refresh{
    height: 5vh;
    width: 8.5vw;
    border-radius: 25px;
    background-color: chartreuse;
    font-size: 4rem;
    margin-top: 125px;
}

#myvideo{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

#location{
    padding: 25px;
}