.one{
    background-color: rgb(139, 228, 228);
    width: 30vw;
    height: 30vw;
    margin: 15px;
    border: 20px black solid;
    padding: 10px;
    margin: 20px 20px 20px 35vw;  /* here we gave the margin as 35vw because to get the content into the middle of the webpage.
                                     the total width of screen is 100vw and the width of the box is 30vw. The empty sapce in web page is 70vw. 
                                     so to move the box into the middle we have to add the margin-left:35vw , so that it will come to 
                                     the middle of the webpage. */
}

body{
    background-color: burlywood;

}

h2{
    color: green;
    text-align: center;
}

h3{
    text-align: center;  /* here by using property "text-allign:center" we can bring the content to the middle of the page.*/ 
}

p{
    text-align: center;
}

.one:hover h3{
    color: brown;     /* here by using the property ":hover" on any tag we can make changes in our websites and we can add many effects to the content.*/
}

.one:hover{
    background-color: cornflowerblue;
}

.one:hover{
    transform:scale(1.05)
}