
.container{
    background-color: aqua;
    height: 1000px;
    width: 1000px;
    margin-top: 300px;
    margin-left: 300px;
    position: relative;
}

.box{
    height: 100px;
    width: 100px;
    display: inline-block;
}

.box1{
    background-color: red;
}

.box2{
    background-color: blue;
    position: sticky;  
    top: 20px;              /* Here "position:sticky" will help us to make the sticky element inside the parent element only ,
                             outside of the parent element it will work as the normal element . and when we use the position:sticky
                             then we have to mention the "top:" tag definitely , otherwise it won't work .*/
}

.box3{
    background-color: green;
}

.box4{
    background-color: yellow;
   
}